<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.github.taetae98coding.diary.sync.periodic</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GID_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(GID_SERVER_CLIENT_ID)</string>
	<key>GMSApiKey</key>
	<string>$(GOOGLE_MAP_API_KEY)</string>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAP_NCP_KEY_ID)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
</dict>
</plist>
