<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.taetae98coding.diary.app.startup.KoinInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.taetae98coding.diary.app.startup.LoggerInitializer"
                android:value="androidx.startup" />

            <!-- WorkManager 초기화를 Koin WorkerFactory가 준비된 뒤로 미루기 위해 기본 초기화를 제거한다. -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>
