<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- 앱이 백그라운드일 때 FCM SDK가 알림을 표시하며 쓰는 아이콘과 채널이다. 서버 메시지가 채널을 지정하지 않을 때만 이 채널을 쓴다. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="dailyMemo" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.taetae98coding.diary.core.fcm.impl.notification.FcmNotificationChannelInitializer"
                android:value="androidx.startup" />
        </provider>

        <service
            android:name="io.github.taetae98coding.diary.core.fcm.impl.notification.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
